@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.bggg {
  background-color: #fff9ee;
}
.navbar-brand {
  color: black !important;
}
.nav-link {
  color: rgb(10, 73, 10) !important;
  font-weight: 600;
}
.navbar-toggler {
  color: black !important;
  border: none !important;
  padding: 0 !important;
}
.text-mine {
  color: rgb(255, 255, 255) !important;
}
.bg-mine {
  background-color: #f7dcb8;
}
.headline-text {
  color: rgb(31, 32, 31) !important;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  z-index: 3 !important;
  padding: 0rem 20rem;
}
.z-btn {
  z-index: 3 !important;
}
.bordbot {
  text-decoration: underline;
  text-decoration-color: #198754;
}
.btn-mine {
  background-color: rgb(238, 86, 86);
  color: white;
}
.btn-mine:hover {
  background-color: rgb(255, 105, 105);
  color: white;
}
.rell {
  position: relative !important;
}
.imgg {
  z-index: 2 !important;
  height: 300px;
  border-radius: 10px;
  border: 8px solid white;
}
.imgg1 {
  position: absolute !important;
  top: 4rem;
  left: 1rem;
  transform: rotate(10deg);
}
.imgg2 {
  position: absolute !important;
  top: 4rem;
  right: 1rem;
  transform: rotate(-1deg);
}
.imgg3 {
  position: absolute !important;
  top: 25rem;
  left: 20rem;
  transform: rotate(-10deg);
}
.imgg4 {
  position: absolute !important;
  top: 25rem;
  right: 20rem;
  transform: rotate(10deg);
}
.imgd {
  display: none;
  height: 300px;
  border-radius: 10px;
  border: 8px solid white;
  transform: rotate(-30deg);
}
.mt-mine {
  margin-top: 25rem;
}
.three {
  font-size: 40px;
}
.myback {
  padding: 20px 0px 20px 0px;
  border-radius: 10px;
}
.title2 {
  font-weight: 550;
  color: rgb(0, 0, 0);
}
.inside_title2 {
  color: rgb(99, 99, 99);
}
.bolder {
  font-size: 2.5rem;
  font-weight: 700;
}
.lnhei {
  line-height: 1rem;
}
.bordbot2 {
  border-bottom: 1px solid #002259;
}
.mybtn3 {
  background-color: none !important;
  color: #000000;
  border-radius: 0px;
  border: 1px solid #002259;
}
.mybtn3:hover {
  background-color: none !important;
  color: #000000;
  border-radius: 0px;
  border: 1px solid #002259;
}
.gradient-text {
  background: linear-gradient(
    90deg,
    rgb(238, 86, 86) 0%,
    rgb(238, 86, 86) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(238, 86, 86) 0%,
    rgb(238, 86, 86) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.no-border:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0;
}
.mytitle {
  font-size: 2.6rem;
  font-weight: 700;
  color: #313131;
}
.fields {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #f1f3fa;
}
.f11 {
  background-color: #ffffff;
}
.fields:focus {
  outline: none;
}
.mess {
  padding: 2rem 2rem;
}
.sendbtn {
  background-color: rgb(238, 86, 86);
  color: white;
  border-radius: 100px;
  border: 1px solid rgb(238, 86, 86);
}
.sendbtn:hover {
  color: rgb(238, 86, 86);
  background-color: white;
  border: 1px solid rgb(238, 86, 86);
}
.bg-mine2 {
  background-color: rgb(255, 255, 255);
}

.card-text {
  color: rgb(61, 59, 59);
}
.card-color {
  background-color: tomato !important;
}

.wrapper {
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.cliip {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all 0.25s;
}
.cliip:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}
.cliip:hover {
  cursor: pointer;
  z-index: 2;
  transform: scale(1.05);
}
.mytitle2 {
  font-weight: bold;
  font-size: 1.5rem;
}
.mysubtitle {
  color: #474747;
}
.justifyy {
  text-align: justify;
  -moz-text-align: justify;
  -webkit-text-align: justify;
}
.ic1 {
  height: 100px;
}
.borderleftt {
  border-left: 1px solid #212529;
}
.subbtn {
  border-radius: 0;
  padding: 1rem;
}
.no-round {
  border-radius: 0;
}
.text-footer {
  font-weight: bold;
}
.mybackk {
  background-image: url("../image/2.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}
@media (max-width: 700px) {
  .borderleftt {
    border-left: none;
  }
  .headline-text {
    font-size: 2rem;
    line-height: 3rem;
    padding: 0rem 0rem;
  }
  .imgg {
    display: none;
  }
  .imgd {
    display: block;
  }
  .mt-mine {
    margin-top: 5rem;
  }
  .lnhei {
    line-height: 2.5rem;
  }
}

.footer-link {
  color: rgb(39, 36, 36) !important;
  font-weight: 600;
  font-size: 15px;
}
.donation-card {
  background-color: #245132;
}
.card-title {
  font-weight: bold;
}
.center-diamond {
  background: orangered;
  width: 500px;
  border: 1px solid orangered;
  margin: auto;
}
